:root {
  /* color */
  --ligth-color: #ffffff;
  --shadow-light-color: #287385d0;
  --primary-color: #1e7c94;
  --shadow-primary-color: #505c5fda;
  --secondary--color: #e8edee;
  /* font */
  --intial-font: Helvetica, sans-serif;
}
/* SeletorThemes */

/* Header */
.logo {
  background-color: var(--primary-color);
}
.searcher {
  border: 2px solid var(--primary-color);
}
.menuNav {
  background-color: var(--secondary--color);
}
.menuNav__listContainer li a {
  color: var(--shadow-primary-color);
}
.menuNav__listContainer li a:hover {
  background-color: var(--primary-color);
}
/* Body */
body {
  background-image: url("../images/b.jpg");
  background-position: center;
  background-attachment: fixed;
}
/* Post - Articles */
.titlePosts {
  color: var(--primary-color);
}
.date {
  color: var(--shadow-primary-color);
}
.btnMore {
  background-color: var(--primary-color);
}
.sidebar h6 span {
  background: var(--ligth-color);
}
/* Login */
.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="number"],
.form input[type="email"],
.form input[type="howKnowMe"],
.inputHowKnowMe {
  -webkit-filter: drop-shadow(1px 1px 2px var(--shadow-primary-color));
  filter: drop-shadow(1px 1px 2px var(--shadow-primary-color));
}
.form input[type="submit"] {
  background-color: var(--primary-color);
  -webkit-filter: drop-shadow(1px 1px 2px var(--shadow-primary-color));
  filter: drop-shadow(1px 1px 2px var(--shadow-primary-color));
}

.form h6 {
  background: var(--ligth-color);
}
/* ABOUT  */
.titleAboutMe {
  color: var(--primary-color);
}
.titleContact {
  font-family: var(--intial-font);
  color: var(--primary-color);
}
/* accordion */

.ui-accordion .ui-accordion-header {
  background-color: var(--secondary--color);
  color: var(--primary-color);
}
.ui-accordion .ui-accordion-header:hover {
  background-color: var(--primary-color);
  transition: ease-in-out 500ms;
  color: var(--secondary--color);
  font-weight: 700;
}
/* WATCH */
.watch {
  color: var(--shadow-primary-color);
  background-color: var(--secondary--color);
}
