* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
}
.clearFix {
  float: none;
  clear: both;
}

:root {
  /* color */
  --ligth-color: #ffffff;
  --shadow-light-color: #cdcbcb;
  --primary-color: #688592;
  --shadow-primary-color: #4f646e;
  --secondary--color: #ece9e6;
  /* font */
  --intial-font: Helvetica, sans-serif;
}

body {
  background-image: url("../images/0-2.jpg");
  background-position: center;
  background-attachment: fixed;
}

/* Section-Body */
#global {
  width: 65%;
  margin: 0px auto;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--ligth-color);
  border-radius: 0.2em;
  -webkit-filter: drop-shadow(5px 5px 10px var(--shadow-light-color));
  filter: drop-shadow(5px 5px 10px var(--shadow-light-color));
}
/* SeletorThemes */
.selectorTheme {
  position: fixed;
  top: 40%;
  /* background: rgba(51, 51, 51, 0.2); */
  width: 50px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.2em;
  cursor: pointer;
}
.toBw,
.toBlue,
.toPink {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin: 4px auto;
  -webkit-filter: drop-shadow(1px 1px 2px #000000);
  filter: drop-shadow(1px 1px 2px #000000);
}
.toBw {
  background-color: #3d3d3d;
}
.toBlue {
  background-color: #11596b;
}
.toPink {
  background-color: #6e4f67;
}
/* Header */
.logo {
  font-family: var(--intial-font);
  font-size: xx-small;
  letter-spacing: 2px;
  /* background-color: var(--primary-color); */
  border-radius: 0.2em;
  color: var(--ligth-color);
  text-align: center;
  width: 70%;
  height: auto;
  float: left;
  margin-bottom: 20px;
  line-height: 50px;
  text-transform: uppercase;
}

.menuNav {
  float: none;
  clear: both;
  width: 100%;
  font-family: var(--intial-font);
  /* background-color: var(--secondary--color); */
  text-transform: uppercase;
  border-radius: 0.2em;
}
.menuNav__listContainer {
  line-height: 150%;
  font-size: xx-small;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px 10px 5px 10px;
}
.menuNav__listContainer li a {
  transition: all 300ms;
  display: block;
  color: var(--shadow-primary-color);
  text-decoration: none;
}
.menuNav__listContainer li a:hover {
  border-radius: 0.2em;
  padding: 2px 5px 2px 5px;
  /* background-color: var(--primary-color); */
  color: var(--secondary--color);
}

/* Post - Articles */

.posts {
  width: 71%;
  float: left;
  font-family: var(--intial-font);
}
.post {
  padding: 5px;
  margin-bottom: 20px;
}
.post h3 {
  font-size: x-large;
  color: var(--primary-color);
}
.post .date {
  color: var(--shadow-light-color);
  font-size: x-small;
}
.post p {
  margin: 10px 0px 30px 0px;
  line-height: 22px;
  text-align: justify;
}
.btnMore {
  padding: 10px;
  /* background-color: var(--primary-color); */
  color: var(--ligth-color);
  border-radius: 0.2em;
  text-decoration: none;
  font-family: var(--intial-font);
  font-size: small;
}

.sidebar {
  font-family: var(--intial-font);
  width: 25%;
  float: right;
  border-radius: 0.2em;
}

.sidebar h6 {
  margin: 40px 0px 17px 0px;
  text-align: center;
  line-height: 5px;
  color: var(--primary-color);
  background-image: url("../images/bx.svg");
  background-size: contain;
  background-image: repeat;
}
.sidebar h6 span {
  /* background: var(--ligth-color); */
  padding: 1.5px;
}
.sidebar img {
  width: 100%;
  border-radius: 0.2em;
}
.sidebar p {
  font-size: small;
  text-align: justify;
}

/* Login */
.form label {
  font-size: small;
}
.form input[type="text"],
.form input[type="password"],
.form input[type="email"] {
  padding: 5px;
  border-radius: 0.2em;
  border-style: none;
  width: 80%;
  margin-bottom: 1em;
  margin-top: 0.5em;
  -webkit-filter: drop-shadow(1px 1px 2px var(--shadow-light-color));
  filter: drop-shadow(1px 1px 2px var(--shadow-light-color));
}
.form input[type="submit"] {
  padding: 10px;
  /* background-color: var(--primary-color); */
  color: var(--ligth-color);
  border-radius: 0.2em;
  border-style: none;
  font-family: var(--intial-font);
  font-size: x-small;
  cursor: pointer;
}
.form h6 {
  /* background: var(--ligth-color); */
  padding: 1.5px;
}

/* footer */
.footer {
  font-family: var(--intial-font);
  font-size: small;
  color: var(--ligth-color);
  padding: 20px 20px 20px 20px;
  text-align: center;
  background: rgba(51, 51, 51, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.up {
  text-decoration: none;
  color: #000000;
  font-weight: 800;
}

/* Slider */
.bx-wrapper,
.bx-viewport {
  border-radius: 0.2em;
  justify-content: center;
  -ms-scroll-snap-type: none;
  scroll-snap-type: none;
}

/* mediaqueries */
@media all and (min-width: 540px) {
  .menuNav__listContainer {
    font-size: small;
    margin-top: 5px;
  }
  .logo {
    font-size: small;
  }
  .post .date {
    font-size: x-small;
  }
}
@media all and (min-width: 720px) {
  .menuNav__listContainer {
    font-size: normal;
  }
  .logo {
    font-size: normal;
  }
  .post .date {
    font-size: small;
  }
  .form label {
    font-size: normal;
  }
}
@media all and (min-width: 1200px) {
  .menuNav__listContainer {
    font-size: medium;
  }
  .logo {
    font-size: medium;
  }
  .post .date {
    font-size: normal;
  }
  .form label {
    font-size: medium;
  }
}
