// :root {
//   --intial-font: "monaco";
// }

// blue
:root {
  /* color */
  --ligth-color: #ffffff;
  --shadow-light-color: #287385d0;
  --primary-color: #1e7c94;
  --shadow-primary-color: #505c5fda;
  --secondary--color: #e8edee;
  /* font */
  --intial-font: Helvetica, sans-serif;
}

// pink
:root {
  /* color */
  --ligth-color: #ffffff;
  --shadow-light-color: #c58fb0b7;
  --primary-color: #3f1b31fb;
  --shadow-primary-color: #726b6e;
  --secondary--color: #ebdee7b0;
  /* font */
  --intial-font: Helvetica, sans-serif;
}

// bw
:root {
  /* color */
  --ligth-color: #ffffff;
  --shadow-light-color: #cecece;
  --primary-color: #3d3d3d;
  --shadow-primary-color: #797979;
  --secondary--color: #ebebeb;
  /* font */
  --intial-font: Helvetica, sans-serif;
}
